<div class="jumbotron text-center">
    <h1>Xebia Assignment</h1>
    <p>by Abhishek Jain</p>
</div>


<button class="btn btn-primary button-logout" ng-click="search.logout()">Log out</button>


<div class="panel panel-default __margin" ng-if="search.user">
    <div class="panel-heading">
        <div>Welcome
            <b>{{search.user}}</b>
        </div>
    </div>
    <div class="panel-body">

        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input ng-model="search.keyword" type="text" class="form-control" name="search" placeholder="Search for planets" ng-change="search.search()"
                required>
        </div>


        <ul class="list-group">
            <li class="list-group-item" ng-repeat="planet in search.planets">
                <span>{{planet.name}}</span>
                <span class="bar-population" ng-style="{ width: (''+planet.population).length*5 + '%' }"></span>
            </li>
        </ul>

        <h6>NOTE: The planet's population (blue bar) is roughly indicative of the
            <i>order of magnitude</i> of the population. So a planet with population 10000 has a bar which is twice as long
            as that of a planet with population of 100</h6>
        <h6>NOTE: Only Luke is powerful enough to search more than 15 times in a minute</h6>

    </div>
</div>

<div ng-if="!search.user" class="panel-footer __margin">
    Please log out and re-login.
</div>